# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="{DATABASE_URL}"
JWT_SECRET="{STRONG_RANDOM_STRING}"
STARTON_SECRET="{STARTON_SECRET_TO_VERIFY_STARTONS_SIGNATURES}"
STARTON_API_KEY="{STARTON_API_KEY}"
EMAIL_USER="{ARBITRARY_EMAIL_ADDRESS_FOR_NODEMAILER}"
EMAIL_PASS="{ARBITRARY_EMAIL_PASSWORD_FOR_NODEMAILER}"
EMAIL_HOST="smtp.elasticemail.com" # or any other SMTP server/relay you want to use
EMAIL_PORT="2525" # choose the port that your SMTP server/relay uses
